#header{
    width: 1fr;
    height: 250px;
    background-color: aquamarine;
    padding: 70px;
}
.TOPRIGHT{
    text-decoration: blanchedalmond;
    font-size: medium;
    text-align: right;
    margin-top: 20px;
    margin-left: 1200px;
    text-decoration: none;
    padding-right: 10px;
}
span{
    display: inline-block;
}
.SearchProduct{
    text-align: center;
}
a{
    font-size: larger;
}
input{
    font-size: 1rem;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: .5rem;
    margin-top: 2rem;
}
.products{
    border: 1px solid black;
    background-color: antiquewhite;
    padding: .5rem;
}
.products > .header{
    margin-bottom: .25rem;
}
.products > .description{
    font-size: .8rem;
    color: grey;
}
.hide{
    display: none;
}
